/* SESSFA StepTracker CSS */

:root {
    --sessfa-green: #10AE2F;
    --sessfa-dark-green: #009D5E;
    --sessfa-deep-blue: #094A75;
    --sessfa-light-blue: #D9F3FF;
    --sessfa-grey: #5F7999;
    --sessfa-olive: #3E4A3C;
    --sessfa-sandy: #A2AF9F;
    --sessfa-bright-blue: #00B2FF;
    --sessfa-blue: #007CCA;
    --sessfa-new-blue: #3371b2;
    --sessfa-new-blue-dark: #28588a;
  }
body {
 font-family: 'Montserrat';
 font-weight: 400;
}
.bg-sessfa-green {
    background-color: var(--sessfa-new-blue)!important;
}
.btn-sessfa-primary {
    color: black;
    background-color: var(--sessfa-new-blue);
    border-color: black;
}
.bg-kid-form {
    border-radius: 5px;
    background-color: #d9f3ff;
}
.bg-adult-form {
    border-radius: 5px;
    background-color: #c5ffd1;
}
.text-sessfa-new-blue-dark {
    color: #28588a;
}
.btn-sessfa-primary:hover {
    background-color: var(--sessfa-new-blue-dark);
}
.text-sessfa-light {
    color: var(--sessfa-light-blue);
}

.btn.goto-results {
    max-width: 220px;
}

img.globe {
    height: 252px;
    width: 252px;
    display: inline-block;
    position: relative;
    margin-top: 50px;
}
.circles {
    height: 0;
    width: 320px;
    position: relative;
    left: calc(50% - 160px);
}
.circle1 {
    top: -246px;
}
.circle2 {
    top: -256px;
}
.circle3 {
    top: -266px;
}
.circle4 {
    top: -276px;
}
.circle5 {
    top: -286px;
}
