/* SESSFA StepTracker CSS */

:root {
    --sessfa-green: #10AE2F;
    --sessfa-dark-green: #009D5E;
    --sessfa-deep-blue: #094A75;
    --sessfa-light-blue: #D9F3FF;
    --sessfa-grey: #5F7999;
    --sessfa-olive: #3E4A3C;
    --sessfa-sandy: #A2AF9F;
    --sessfa-bright-blue: #00B2FF;
    --sessfa-blue: #007CCA;
  }
body {
 font-family: 'Montserrat';
 font-weight: 400;
}
.bg-sessfa-green {
background-color: var(--sessfa-green)!important;
}
.btn-sessfa-primary {
color: black;
background-color: var(--sessfa-green);
border-color: black;
}
.btn-sessfa-primary:hover {
background-color: var(--sessfa-dark-green);
}
.text-sessfa-light {
color: var(--sessfa-light-blue);
}

img.globe {
    height: 252px;
    width: 252px;
    display: inline-block;
    position: relative;
    /*left: calc(50% - 126px);*/
    margin-top: 50px;
}
.circles {
    height: 0;
    width: 320px;
    position: relative;
    left: calc(50% - 160px);
}
.circle1 {
    top: -246px;
}
.circle2 {
    top: -256px;
}
.circle3 {
    top: -266px;
}
.circle4 {
    top: -276px;
}
.circle5 {
    top: -286px;
}
